{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
    <body class="body">
    
    <div class="container">
        <main>
        <h1>Liste des sessions de la formation {{formation}}</h1>

        <a href="{{ path('add_session')}}" class="btn">Ajouter sessions</a><br>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Formation</th>
                    <th>Formateur</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Inscrit</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
            {% for session in formation.sessions %}
                <tr> 
                    <td><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></td>
                    <td><a href="{{ path('show_formation' ,{'id': formation.id}) }}">{{formation}}</a></td>
                    <td><a href="{{ path('show_formateur' ,{'id': session.formateur.id}) }}">{{session.formateur}}  </a></td>
                    <td>{{session.dateDebut | date('d-m-Y')}}</td>
                    <td>{{session.dateFin | date('d-m-Y')}}</td>
                    <td>{{ session.stagiaires | length }}/{{ session.placeTotal }}</td>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <td class="complet">Complet</td>
                    {% else %}
                        <td class="incomplet"> Incomplet</td>
                    {% endif %}

                    <td><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        </main>
    </div>
    </body>
{% endblock %}
