{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body class="body">

    <div class="container">
        <main>
        <h1>Session</h1>

        <h2>Session a venir</h2>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Formation</th>
                    <th>Formateur</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Inscrit</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
            {% for session in sessionAVenir %}
                {% if session %}
                <tr> 
                    <td><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></td>
                    <td><a href="{{ path('show_formation' ,{'id': session.formation.id}) }}">{{session.formation}}</a></td>
                    <td><a href="{{ path('show_formateur' ,{'id': session.formateur.id}) }}">{{session.formateur}}</a></td>
                    <td>{{session.dateDebut | date('d-m-Y')}}</td>
                    <td>{{session.dateFin | date('d-m-Y')}}</td>
                    <td>{{ session.stagiaires | length }}/{{ session.placeTotal }}</td>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <td class="complet">Complet</td>
                    {% else %}
                        <td class="incomplet"><p class="incomplet"> Incomplet</td>
                    {% endif %}

                    <td><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h2>Session en cours</h2>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Formation</th>
                    <th>Formateur</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Inscrit</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
            {% for session in sessionEnCours  %}
                {% if session %}
                <tr> 
                    <td><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></td>
                    <td><a href="{{ path('show_formation' ,{'id': session.formation.id}) }}">{{session.formation}}</a></td>
                    <td><a href="{{ path('show_formateur' ,{'id': session.formateur.id}) }}">{{session.formateur}}  </a></td>
                    <td>{{session.dateDebut | date('d-m-Y')}}</td>
                    <td>{{session.dateFin | date('d-m-Y')}}</td>
                    <td>{{ session.stagiaires | length }}/{{ session.placeTotal }}</td>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <td class="complet">Complet</td>
                    {% else %}
                        <td class="incomplet"><p class="incomplet"> Incomplet</td>
                    {% endif %}

                    <td><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h2>Session fini</h2>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Formation</th>
                    <th>Formateur</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Inscrit</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
            {% for session in sessionFini  %}
                {% if session %}
                <tr> 
                    <td><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></td>
                    <td><a href="{{ path('show_formation' ,{'id': session.formation.id}) }}">{{session.formation}}</a></td>
                    <td><a href="{{ path('show_formateur' ,{'id': session.formateur.id}) }}">{{session.formateur}}  </a></td>
                    <td>{{session.dateDebut | date('d-m-Y')}}</td>
                    <td>{{session.dateFin | date('d-m-Y')}}</td>
                    <td>{{ session.stagiaires | length }}/{{ session.placeTotal }}</td>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <td class="complet">Complet</td>
                    {% else %}
                        <td class="incomplet"><p class="incomplet"> Incomplet</td>
                    {% endif %}

                    <td><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </main>
    </div>
    </body
{% endblock %}
