{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Session</h1>
    <div class="container">
    <main>
        <h2>Session a venir</h2>
        <table>
            <tr class="infoTR">
                <th>Nom</th>
                <th>Formation</th>
                <th>Formateur</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Inscrit</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            {% for session in sessionAVenir %}
                {% if session %}
                <tr class="sessionTR"> 
                <th><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></th>
                    <th>{{session.formation}}</th>
                    <th>{{session.formateur}}</th>
                    <th>{{session.dateDebut | date('d-m-Y')}}</th>
                    <th>{{session.dateFin | date('d-m-Y')}}</th>
                    <th>{{ session.stagiaires | length }}/{{ session.placeTotal }}</th>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <th class="complet">Complet</th>
                    {% else %}
                        <th class="incomplet"><p class="incomplet"> Incomplet</th>
                    {% endif %}

                    <th><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></th>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        <h2>Session en cours</h2>
        <table>
            <tr class="infoTR">
                <th>Nom</th>
                <th>Formation</th>
                <th>Formateur</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Inscrit</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            {% for session in sessionEnCours %}
                {% if session %}
                    <tr class="sessionTR"> 
                        <th><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></th>
                        <th>{{session.formation}}</th>
                        <th>{{session.formateur}}</th>
                        <th>{{session.dateDebut | date('d-m-Y')}}</th>
                        <th>{{session.dateFin | date('d-m-Y')}}</th>
                        <th>{{ session.stagiaires | length }}/{{ session.placeTotal }}</th>

                        {% if session.stagiaires | length == session.placeTotal %}
                        <th class="complet">Complet</th>
                        {% else %}
                            <th class="incomplet"><p class="incomplet"> Incomplet</th>
                        {% endif %}

                        <th><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <h2>Session fini</h2>
        <table>
            <tr class="infoTR">
                <th>Nom</th>
                <th>Formation</th>
                <th>Formateur</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Inscrit</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            {% for session in sessionFini %}
                {% if session %}
                    <tr class="sessionTR"> 
                        <th><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></th>
                        <th>{{session.formation}}</th>
                        <th>{{session.formateur}}</th>
                        <th>{{session.dateDebut | date('d-m-Y')}}</th>
                        <th>{{session.dateFin | date('d-m-Y')}}</th>
                        <th>{{ session.stagiaires | length }}/{{ session.placeTotal }}</th>

                        {% if session.stagiaires | length == session.placeTotal %}
                        <th class="complet">Complet</th>
                        {% else %}
                            <th class="incomplet"><p class="incomplet"> Incomplet</th>
                        {% endif %}

                        <th><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </main>
    </div>
{% endblock %}
