{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <body class="body">

    <div class="container">
        <main>
        <h1>Liste des stagiaires</h1>

        <a href="{{ path('add_stagiaire')}}" class="btn">Ajouter stagiaire</a>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
            </thead>

            <tbody>
                {% for stagiaire in stagiaires %}
                    <tr>
                        <td><a href="{{ path('show_stagiaire' ,{'id': stagiaire.id}) }}">{{ stagiaire.nom }}</a></td>
                        <td><a href="{{ path('show_stagiaire' ,{'id': stagiaire.id}) }}">{{ stagiaire.prenom }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </main>
    </div>
    </body>
{% endblock %}
