{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>Liste des stagiaires</h1>
    <div class="container">
    <main>
        <a href="{{ path('add_stagiaire')}}" class="btn">Ajouter stagiaire</a>

        <table>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>

            {% for stagiaire in stagiaires %}
            <tr>
                <th><a href="{{ path('show_stagiaire' ,{'id': stagiaire.id}) }}">{{ stagiaire.nom }}</a></th>

                <th><a href="{{ path('show_stagiaire' ,{'id': stagiaire.id}) }}">{{ stagiaire.prenom }}</a></th>
            </tr>
            {% endfor %}
        </table>
    </main>
    </div>
{% endblock %}
