{% extends 'base.html.twig' %}

{% block title %}Hello StagiaresController!{% endblock %}

{% block body %}
    <body class="body">

        <div class="container">
            <main>
                
                <h1>Fiche Stagiaire</h1>
                <a href="{{ path('edit_stagiaire',{'id': stagiaire.id}) }} "class="btn" >modifier</a>
                <h2> {{ stagiaire.nom}} {{ stagiaire.prenom }} </h2>
                <div class="description">
                    
                    {{"Sexe:"}} {{ stagiaire.sexe }}</br>
                    {{"Date de Naissance:"}} {{ stagiaire.dateNaissance | date('d-m-Y')}}</br>
                    {{"Ville:"}} {{ stagiaire.ville }}</br>
                    {{"Courriel:"}} {{ stagiaire.email }}</br>
                    {{"Téléphone:"}} {{ stagiaire.telephone }}</br>
                </div>

                <h2>Sessions prévues</h2>
                <table class="tableau-style">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Formation</th>
                            <th>Formateur</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Inscrit</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for session in stagiaire.sessions %}
                        <tr> 
                            <td><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></td>
                            <td><a href="{{ path('show_formation' ,{'id': session.formation.id}) }}">{{session.formation}}</a></td>
                            <td><a href="{{ path('show_formateur' ,{'id': session.formateur.id}) }}">{{session.formateur}}  </a></td>
                            <td>{{session.dateDebut | date('d-m-Y')}}</td>
                            <td>{{session.dateFin | date('d-m-Y')}}</td>
                            <td>{{ session.stagiaires | length }}/{{ session.placeTotal }}</td>

                            {% if session.stagiaires | length == session.placeTotal %}
                                <td class="complet">Complet</td>
                            {% else %}
                                <td class="incomplet"> Incomplet</td>
                            {% endif %}

                            <td><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </body>
{% endblock %}
