{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>
    
    <div class="container">
    <main>
        <a href="{{ path('add_session')}}" class="btn">Ajouter sessions</a><br>

        <table>
            <tr class="infoTR">
                <th>Nom</th>
                <th>Formation</th>
                <th>Formateur</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Inscrit</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        
            {% for session in sessions %}
                <tr class="sessionTR"> 
                    <th><a href="{{ path('show_session' ,{'id': session.id}) }}">{{ session }}<a></th>
                    <th>{{session.formation}}</th>
                    <th>{{session.formateur}}</th>
                    <th>{{session.dateDebut | date('d-m-Y')}}</th>
                    <th>{{session.dateFin | date('d-m-Y')}}</th>
                    <th>{{ session.stagiaires | length }}/{{ session.placeTotal }}</th>

                    {% if session.stagiaires | length == session.placeTotal %}
                        <th><p class="complet"> Complet</p></th>
                    {% else %}
                        <th><p class="incomplet"> Incomplet</p></th>
                    {% endif %}

                    <th><a href="{{ path('edit_session',{'id': session.id}) }}">M</a></th>
                </tr>
                {% endfor %}
        </table>
    </main>
    </div>
{% endblock %}
