<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset( 'css/style.css')}}"> 

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="area">
            

            <ul class="circles">
                
                <nav>
                    <ul>
                        <lo><a href="{{ path('app_formateur') }}">Liste des formateurs</a></lo>
                        <lo><a href="{{ path('app_session') }}">Liste des sessions</a></lo>
                        <lo><a href="{{ path('app_stagiaire') }}">Liste des stagiaires</a></lo>
                        <lo><a href="{{ path('app_formation') }}">Liste des formations</a></lo>
                        {% if app.user %}
                            <lo><a href="{{ path('app_logout') }}" >Se déconnecter</a></lo>
                        {% else %}
                            <lo><a href="{{ path('app_register') }}">S'inscrire</a></lo>
                            <lo><a href="{{ path('app_login') }}">Se connecter</a></lo>
                        {% endif %}
                    </ul>
                </nav>
                {% block body %}{% endblock %}
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div >
    </body>
</html>
