{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
    <h1>Liste des formateurs</h1>
    <div class="container">
    <main>
        <a class="btn" href="{{ path('add_formateur')}}">Ajouter formateur</a>
        <table>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>

            {% for formateur in formateurs %}
                <tr>
                    <th><a href="{{ path('show_formateur' ,{'id': formateur.id}) }}">{{ formateur.nom}}  </a></th>
                    <th><a href="{{ path('show_formateur' ,{'id': formateur.id}) }}">{{ formateur.prenom}}  </a></th>
                </tr>
            {% endfor %}
        </table>
    </main>
    </div>
{% endblock %}
