{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
    <body class="body">
    
    <div class="container">
        <main>
        <h1>Liste des formateurs</h1>

        <a href="{{ path('add_formateur')}}" class="btn" >Ajouter formateur</a>

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
            </thead>

            <tbody>
                {% for formateur in formateurs %}
                    <tr>
                        <td><a href="{{ path('show_formateur' ,{'id': formateur.id}) }}">{{ formateur.nom}}  </a></td>
                        <td><a href="{{ path('show_formateur' ,{'id': formateur.id}) }}">{{ formateur.prenom}}  </a></td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        </main>
    </div>
    </body>
{% endblock %}
